<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- Корневой элемент для vue -->
  <!-- <div class="container" id="learn">
    <label for="">
      <h4>Счётчик</h4>
      <h4 type="text" class="output">{{ output }}</h4>
    </label>
    <br>
    <br>
    <button class="plus" v-on:click="output++">плюс</button>
    <button class="minus" v-on:click="output--">минус</button>
  </div> -->

  <!-- Корневой элемент для vue -->
  <div class="container" id="todo">
    <label for="">
      <h3>{{ title }}</h3>
    </label>
    <input 
      type="text" 
      name="" 
      id="" 
      value="" 
      v-model="inputValue"
      @:keypress.enter="addTodoItem" 
      :placeholder="placeholderValue" 
      />
      <!-- 
        v-bind:value="inputValue" 
        v-on:input="inputValueHandler" 
        заменили на
        v-model="inputValue"
        справка: https://vuejs.org/api/built-in-directives.html#v-model
      --->
      <!-- v-bind: можно записывать просто как : -->
      <!-- v-on: можно записывать просто как @ -->
      <!-- 
        v-on:keypress.enter - .enter - это модификатор к keypress со стандартными значениями js например "Enter"
        https://vuejs.org/guide/essentials/event-handling.html#event-modifiers
      --->
      <!-- v-on:keypress="inputKeypressHandler" -->
      <!-- v-bind: привязывает vuejs (который указывается в кавычках) к атрибуту -->
    <br>
    <br>
    <button
      class="todo__add"
      v-on:click="addTodoItem"
      >Добавить</button>
    <hr>
    <ul class="todo__list" v-if="notes.length !== 0">
      <li 
        class="todo__item" 
        v-for="(noteItem, i) in notes" 
      >
        {{ i+1 }}: {{ noteItem }}
        <button 
          class="todo__item-remove"
          v-on:click="removeTodoItem(i, $event)"
        >Удалить</button>
        <!-- $event обозначает что туда передаём обычные браузерные события, а не свою переменную, например событие event -->
      </li>
      <hr>
      <li>
        <strong>Удвоенное кол-во: {{ doubleCount }}</strong>
      </li>
    </ul>

    <h4 class="todo__info" v-else>Заметок пока нет, можете добавить!</h4>

  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="js/learn.js"></script>
  <script src="js/todo.js"></script>
</body>

</html>