<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>



  <div id="vue">

    <click-counter></click-counter>
    <click-counter></click-counter>
    <click-counter></click-counter>

    <plan-list></plan-list>

    <!-- <plan v-for="task in plans" :name="task"></plan> -->

  </div>

  <script type="text/x-template" id="click-counter-template">
    <button @click="count++">{{count}}</button>
  </script>

  <script type="text/x-template" id="plan-list-item-template">
    <h4 :class="{'active': selected}" @click="select">
      {{name}}
    </h4>
  </script>

  <script type="text/x-template" id="plan-list-template">
    <plan-item
      v-for="task in plans"
      :name="task"
      @select="selectTask"
      :selected="task === selectedTask"
      >
    </plan-item>
  </script>



  <script src="https://unpkg.com/vue@3"></script>
  <script src="main.js"></script>

</body>

</html>