<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>



  <div id="shop">

    <input v-model="heading" type="text">

    <h1>{{ heading.toLocaleUpperCase() || 'Welcome!' }}</h1>

    <button v-if="editing" @click="doEditing(false)">Cancel</button>
    <button v-else @click="doEditing(true)">Add Item</button>

    <div v-if="editing" class="form-add-item">
      <input
        type="text"
        placeholder="Добавить задачу!"
        v-model.trim="newItem"
        @keyup.enter="addNewItem"><!-- .lazy для того чтобы не в реальном времени а при отправке -->
      <br>

      <p>{{characterCount}}/200</p>

      <button
        @click="addNewItem"
        :disabled="newItem.length === 0">Save</button>
      <br>

      <br>
      <label>
        <input type="checkbox" v-model="newItemHighPriority">
        High priority
      </label>
      <br>
      {{newItem}} {{newItemHighPriority}}
      <br>
    </div>

    <br>

    <a :href="'//'+newItem">Dynamic link</a>

    <p v-if="items.length === 0">Все задачи выполнены!</p>

    <ul>
      <!-- 3 пути динамических классов, через {объект} и через [массив] и через [{массив}, {объектов}] -->
      <!-- <li
        v-for="(item, i) in items"
        :key="item.id"
        :class="{
          'strikeout': item.completed, 
          'priority': item.highPriority,
          'static-class': true
        }"
        class="static-class"
        >
        {{i+1}} - {{item.val}}
      </li> -->
      <!-- <li
        v-for="(item, i) in items"
        :key="item.id"
        class="static-class"
        :class="[
          item.completed ? 'strikeout' : 'not-strikeout',
          item.highPriority ? 'priority' : 'not-priority',
          'static-class'
        ]">
        {{i+1}} - {{item.val}}
      </li> -->
      <li
        v-for="(item, i) in reversedItems"
        :key="item.id"
        @click="toggleCompleted(item)"
        class="static-class"
        :class="[
          {'strikeout': item.completed}, 
          item.highPriority ? 'priority' : 'not-priority',
          'static-class'
        ]">
        {{i+1}} - {{item.val}}
      </li>
      <!-- <li v-for="{id, val} in items" :key="id">
        {{val}}
      </li> -->
    </ul>

    <label><input v-model="iceCreamFlavors" value="Ice Cream №1" type="checkbox">Ice Cream №1</label>
    <label><input v-model="iceCreamFlavors" value="Ice Cream №2" type="checkbox">Ice Cream №2</label>
    <label><input v-model="iceCreamFlavors" value="Ice Cream №3" type="checkbox">Ice Cream №3</label>
    <label><input v-model="iceCreamFlavors" value="Ice Cream №4" type="checkbox">Ice Cream №4</label>

  </div>



  <script src="https://unpkg.com/vue@3"></script>

  <script>
    const shop = Vue.createApp({
      data() {
        return {
          heading: 'Hello!',
          editing: false,
          items: [
            { id: 1, val: 'задача 1', completed: true, highPriority: false},
            { id: 2, val: 'задача 2', completed: false, highPriority: false},
            { id: 3, val: 'задача 3', completed: true, highPriority: true},
          ],
          newItem: '',
          newItemHighPriority: false,
          iceCreamFlavors: [],
        }
      },
      computed: {
        characterCount() {
          return this.newItem.length
        },
        reversedItems() {
          return this.items.reverse()
        }
      },
      methods: {
        addNewItem() {
          this.items.push( { 
            id: this.items.length + 1, 
            val: this.newItem,
            highPriority: this.newItemHighPriority,
          } )
          this.newItem = ''
          this.newItemHighPriority = ''
        },
        doEditing(editing) {
          this.editing = editing
          this.newItem = ''
        },
        toggleCompleted(item) {
          item.completed = !item.completed
        }
      }
    }).mount('#shop')
  </script>

</body>

</html>