<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="js/vue.global.min.js"></script>
  <!-- <script src="js/vue.runtime.global.prod.min.js"></script> -->

  <link rel="stylesheet" href="css/main.css">

  <title>Transition component</title>

</head>

<body>



  <div id="demo1">
    <button @click="show = !show">
      Переключить
    </button>

    <transition name="fade">
      <p v-if="show">привет</p>
    </transition>
  </div>



  <div id="demo2">
    <button @click="show = !show">
      Переключить отображение
    </button>

    <transition name="slide-fade">
      <p v-if="show">привет</p>
    </transition>
  </div>



  <div id="demo3">
    <button @click="show = !show">Переключить отображение</button>
    <transition name="bounce">
      <p v-if="show">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis
        enim libero, at lacinia diam fermentum id. Pellentesque habitant morbi
        tristique senectus et netus.
      </p>
    </transition>
  </div>



  <!-- #demo4 -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css" rel="stylesheet"
    type="text/css" />

  <div id="demo4">
    <h2>Переопределение классов: анимаций и переходов Vue</h2>

    <button @click="show = !show">
      Переключить отображение
    </button>

    <transition name="custom-classes-transition" enter-active-class="animate__animated animate__tada"
      leave-active-class="animate__animated animate__bounceOutRight">
      <p v-if="show">привет</p>
    </transition>
  </div>



  <!-- #demo5 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>

  <div id="demo5">
    <h2>Хуки с Gsap</h2>

    <button @click="show = !show">
      Переключить отображение
    </button>

    <transition @before-enter="beforeEnter" @enter="enter" @leave="leave" :css="false">
      <div class="box" v-if="show"></div>
    </transition>
  </div>



  <div id="demo6">
    <!-- out-in - сначала исчезает старый элемент и только после этого появляется новый -->
    <!-- in-out - наоборот -->
    <transition name="mode-fade" mode="out-in">
      <button v-if="on" key="on" @click="on = false">
        on
      </button>
      <button v-else key="off" @click="on = true">
        off
      </button>
    </transition>
  </div>



  <div id="demo7">
    <h2>Динамический компонент</h2>
    <input v-model="view" type="radio" value="v-a" id="a"><label for="a">A</label>
    <input v-model="view" type="radio" value="v-b" id="b"><label for="b">B</label>
    <transition name="component-fade" mode="out-in">
      <component :is="view"></component>
    </transition>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>

  <div id="demo8" class="demo">
    <button @click="shuffle">Перемешать</button>
    <button @click="add">Добавить</button>
    <button @click="remove">Удалить</button>
    <transition-group name="list-complete" tag="p">
      <span v-for="item in items" :key="item" class="list-complete-item">
        {{ item }}
      </span>
    </transition-group>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
  <div id="demo9">
    <input v-model="query" />
    <transition-group name="staggered-fade" tag="ul" :css="false" @before-enter="beforeEnter" @enter="enter"
      @leave="leave">
      <li v-for="(item, index) in computedList" :key="item.msg" :data-index="index">
        {{ item.msg }}
      </li>
    </transition-group>
  </div>



  <script src="js/main.js"></script>

</body>

</html>